
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>


    <meta charset="utf-8"/>
    <title>{{ title }} | Windsor Baptist | to be a church without walls | Welcome</title>
    <meta name="fb_admins_meta_tag" content=""/>
    <link rel="shortcut icon" href="http://www.wix.com/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="http://www.wix.com/favicon.ico" type="image/x-icon"/>


    <meta http-equiv="etag" content="6c47d06937e473f3cd03fc33805e688f"/>
    <meta property="og:title" content="Windsor Baptist | to be a church without walls | Welcome"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://mark275.wix.com/windsorbaptist"/>
    <meta property="og:site_name" content="Windsor Baptist | to be a church without walls | Welcome"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>

    <meta id="wixMobileViewport" name="viewport" content="minimum-scale=0.25, maximum-scale=1.2"/>


</head>
<body>
<div id="SITE_CONTAINER">
    <div class="header">

    </div>
    <!-- END OF HEADER -->
    <div class="main">
        {% block content %}
            Replace me with your content. Don't use this template directly
        {% endblock %}
    </div>
    <!-- END OF MAIN -->
</div>




</body>
</html>
