{% extends 'outer.twig' %}

{% block content %}
    <ul class="calendars">
        {% for calendar in calendars %}
            <li style="background: {{ calendar.background_colour }}">
                <a href="/calendars/{{calendar.slug}}" style="color: {{ calendar.foreground_colour }}">{{calendar.summary }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}