{% extends 'outer.twig' %}
{% block content %}
    {% include 'events/search-tool.twig' %}

    <div class="events-list">
        {% for day in eventsInDays %}
            <div class="day">
                <h2>
                    <span class="day">{{ day.date.format('d') }}</span>
                    <span class="month">{{ day.date.format('M') }}</span>
                    <span class="year">{{ day.date.format('Y') }}</span>
                </h2>
                <div class="events">
                    {% for event in day.events %}
                        <div class="one-event">
                            <h3><a href="/{{event.slug}}">{{ event.summary }}</a></h3>
                            <span class="dates">
                                {% if event.all_day_event == 0 %}
                                    {{ event.start_date|date("H:i") }}  -
                                    {% if event.start_date|date("d-m-Y") != event.end_date|date("d-m-Y") %}
                                        {{ event.end_date|date("d-m-Y") }}
                                    {% endif %}
                                    {{ event.end_date|date("H:i") }}

                                {% else %}
                                    {% if event.start_date|date("d-m-Y") != event.end_date|date("d-m-Y") %}
                                        {{ event.end_date|date("d-m-Y") }}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                        <script type="application/ld+json">
                        {{ event.getJson() | raw }}
                        </script>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>
{% if numbered_paging %}
    {{ events.render() | raw }}
{% else %}
    <ul>
        {% for monthlyPage in monthlyPaging %}
            <li>
                <a href="{% if monthlyPage.calendar %}/calendars/{{ monthlyPage.calendar.slug }}{% endif %}/{{ monthlyPage.date.format('Y') }}/{{ monthlyPage.date.format('n') }}">
                    {{ monthlyPage.date.format('M') }} - {{ monthlyPage.date.format('Y') }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}