{% extends 'outer.twig' %}

{% block content %}
    <ul class="months">
        {% for month in monthsInYear %}
            <li>
                <a href="/{{year}}/{{month.format('n')}}">{{month.format('F') }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}