{% extends 'outer.twig' %}

{% block content %}

    <span class="dates">
        {% if event.all_day_event == 0 %}
            {{ event.start_date|date("H:i") }}  -
            {% if event.start_date|date("d-m-Y") != event.end_date|date("d-m-Y") %}
                {{ event.end_date|date("d-m-Y") }}
            {% endif %}
            {{ event.end_date|date("H:i") }}

        {% else %}
            {% if event.start_date|date("d-m-Y") != event.end_date|date("d-m-Y") %}
                {{ event.end_date|date("d-m-Y") }}
            {% endif %}
        {% endif %}
    </span>

    {{ event.getHtmlDescription() | raw }}
    <script type="application/ld+json">
        {{ event.getJson() | raw }}
    </script>

{% endblock %}

