<form method="get" action="/search/">
    <label for="event-name">Event Name</label>
    <input type="text" value="{{ input_get("event_name") }}" name="event_name" id="event-name" />
    
    <label for="past-events">Show Past Events?</label>
    <input name="past_events" id="past-events" type="checkbox" value="1" {% if input_get("past_events") %}checked="checked"{% endif %} />

    <div id="search-calendars-list">
        {% for searchCalendar in searchCalendars %}
            <label for="search-calendar-{{ searchCalendar.id }}">
                <span style="color: {{ searchCalendar.background_colour }}">#</span>
                <input type="checkbox"
                        {% if input_get("search_calendar")[searchCalendar.id]  %}checked="checked"{% endif %}
                       value="{{ searchCalendar.id }}"
                       id="search-calendar-{{ searchCalendar.id }}" name="search_calendar[{{ searchCalendar.id }}]" />
                {{ searchCalendar.summary }}
            </label>
        {% endfor %}
    </div>


    <label for="submit">Search</label>
    <input type="submit" value="search" />
</form>

